.sec5{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
    padding-top: 150px;
}
.sec-5-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.sec-5-1>:nth-child(1){
    font-weight: 600;
}
.sec-5-2{
    display: flex;
    gap: 20px;
    border: 2px solid black;
    border-radius: 40px;
    padding: 15px;

    
}
.a2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.a3{
    display: flex;
    align-items: center;
    gap: 10px;
}
.a1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.a1 img{
width: 30px;
}
.a2 img{
    width: 25px;
}
.a3 img{
    width: 25px;
}
@media(max-width:1024px) {
    .sec5{
        height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;  
    height: 100vh;
    padding-top: 500px;
}
.sec-5-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 700px;
}
}

@media(max-width:767px) {
    .sec5{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;  
    height: 100vh;
   padding-bottom: 300px;
}
.sec-5-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 700px;
}
.sec-5-1>:nth-child(1){
    font-weight: 600;
}
.sec-5-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    border-radius: 40px;
    padding: 15px;

    
}
}
